@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Joti+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Joti+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Joti+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*Reset*/
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #F2F2F2;
  overflow-x: hidden;
}

p {
  text-wrap: pretty;
}

h1 {
  text-wrap: balance;
}



/*barra de navegacion*/

#nav {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  animation: fadeIn 1.5s ease-out;
  padding-top: 30px;
}

#nav .title-nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #FF5B00;
  animation: fadeIn 1s ease-out;
  margin: 19.92px 0;
  line-height: 23.44px;

}


#nav a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  line-height: 23.44px;
}

@keyframes fadeIn { 
  0% { 
      opacity: 0; 
      transform: translateY(-20px); 
  } 
  100% { 
      opacity: 1; 
      transform: translateY(0); 
  }
}

.button-nav {
  background-color: #F6762C;
  width: 175px;
  height: 49px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23.44px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  animation: fadeIn 2s ease-out;
}

header #nav {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


header #nav #links-nav a {
  margin: 0px 20px;
}

/* #section-container {
    display: flex;
    flex-direction:row;
    margin-left: 190px;
    margin-top: 25px;
    
} */



/* cabecera del form */
.header {
  background-color: #27ae60;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 12px;
}


/* ocupe la altura de ventana 'min-height' */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background-color: #F2F2F2;
  /*background: linear-gradient(90deg, #ffffff 60%, #ffffff 40.1%);*/
}

.contenedor form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;

}

.contenedor form .card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.contenedor form .card .col {
  flex: 1 1 250px;
}

.contenedor form .card .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.contenedor form .card .col .inputBox {
  margin: 15px 0;
}

.contenedor form .card .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.contenedor form .card .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

/* .contenedor form .card .col .inputBox input:focus {
  border: 1px solid #000;
} */

.contenedor form .card .col .flex {
  display: flex;
  gap: 15px;
}

.contenedor form .card .col .flex .inputBox {
  margin-top: 5px;
}

.contenedor form .card .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.contenedor form .boton {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #27ae60;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

/* Efecto en el boton */
.contenedor form .boton:hover {
  background: #2b2bef;
}