@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Estilos generales */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: none;
    transition: all 0.2s linear;
}

/* Barra de navegación */
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

#nav .title-nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #FF5B00;
    margin: 20px 0;
    line-height: 1.2;
}

#nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
    margin: 0 20px;
    line-height: 1.2;
}

.button-nav {
    background-color: #F6762C;
    width: 175px;
    height: 49px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

/**/

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .contenedor {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor-col1,
  .contenedor-col2 {
    width: 45%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .header-col img {
    max-width: 100%;
    border-radius: 15px;
  }
  
  .col1 ul {
    list-style: none;
    padding: 5px;
  }
  
  .col1 li {
    margin-bottom: 15px;
  }
  
  .col1 h3 {
    margin-bottom: 10px;
  }
  
  .col1 button.boton {
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .col1 button.boton a{
    color: white;
    text-decoration: none;
  }

  .col2 h3 {
    margin-top: 15px;
  }
  
  .col2 ul {
    margin-top: 10px;
    margin-left: 10px;
  }

  .inputBox {
    margin-bottom: 15px;
  }
  
  .inputBox label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputBox input,
  .inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .contenedor-col2 button {
    background-color: #FF5B00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }