@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* aplica estilos a todo */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
}

/*barra de navegacion*/

#nav {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

#nav .title-nav a {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #FF5B00;
    margin: 19.92px 0;
    line-height: 23.44px;

}


#nav a {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
    line-height: 23.44px;
}

.button-nav {
    background-color: #F6762C;
    width: 175px;
    height: 49px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 23.44px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

header #nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


header #nav #links-nav a {
    margin: 0px 20px;
}

.boton {

    background-color: #F6762C;
    width: 175px;
    height: 49px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 23.44px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


/* Efecto en el boton */
.boton:hover {
    background: #ff4c28;
}



.boton a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #ffffff 60%, #ffffff 40.1%);
    flex-direction: row;
    margin-left: 190px;
    margin-top: 25px;
}

.inputBox {
    margin: 15px 0;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 50px;
    margin-top: 20px;
    filter: drop-shadow(0 0 5px #8a8a8a);
}


.col2 {
    display: flex;
    flex-direction: column;
    margin: 50px;

}

.col1 {
    justify-content: space-around;
    margin: 30px;
    padding: 10px;
}

.contenedor .col1 h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #FF5B00;
    margin: 20px 0;
    line-height: 23.44px;
}


.contenedor .col1 p {
    margin: 100px 0;
}


.carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 400px;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    height: 100%;

}

.carousel-item {
    min-height: 100%;
    box-sizing: border-box;

}

.carousel-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;

}


/* Botones de control */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #FF5B00;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev {
    right: 10px;
}

.carousel-control-next {
    right: 10px;
    margin: 50px 0;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border: solid #FF5B00;
}

.carousel-control-prev-icon::before {
    border-width: 0 3px 3px 0;
    transform: rotate(225deg);
}

.carousel-control-next-icon::before {
    border-width: 0 3px 3px 0;
    transform: rotate(40deg);
}